{% extends "layouts/layout.html" %}
{% block title %}{{texte}}{% endblock %}

{% block home %}{% endblock %}

{% block content %}

<section >
    <div style="flex:2; color:white;">
    
    </div>
    <div class="banner" style="flex:7; margin-top:13%">
        <div class="new_arrivals">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section_title new_arrivals_title">
                            <h2>{{texte}}</h2>
                        </div>
                    </div>
                </div>
                {% include "./shared/gestionnaire.html" %}
            </div>
        </div>
    </div>
</section>


{% endblock %}