{% extends "layouts/layout.html" %}
{% block title %}Connexion{% endblock %}

{% block home %}{% endblock %}

{% block content %}
<section class="h-100 gradient-form" style="margin: 10%;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1"></h4>
                    <div class="logo_container w-100">
                        <marquee behavior="right" direction="right"><a href="/">Dan<span>Market</span> hyper méga cool!!👌</a></marquee>
                        
                    </div>
                   
                  </div>
                  
                    <form method="post" action="{{url_for('connexion')}}">
                        <h4 class="text-center font-weight-bold">Connexion</h4>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="login">Login</label>
                            <input type="text" id="login" class="form-control"
                                placeholder="Login" name="login" />

                        </div>
    
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password"/>

                        </div>
    
                        <div class="text-center pt-1 mb-5 pb-1">
                        <button class="cursorPointer btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 p-4" type="submit">Se connecter</button>
                        {% if error != "" %}
                            <h5 style="color: red;" class="font-weight-bold">{{ error }}</h5>
                        {% endif %}
                        </div>
    
                        <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Vous n'avez pas de compte?</p>
                        <a href="/inscription"><button type="button" class="cursorPointer btn btn-outline-danger">S'inscrire</button></a>
                        </div>
    
                    </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Nous sommes plus qu'une boutique</h4>
                  <p class="small mb-0">DanMarket vous offre tout ce que le sucré du dehors ne vous offrira jamais👌</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}