{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {# background-color:rgba(0, 0, 0, 0.5) #}
    {% if errors %}
        <section id="section"  class="d-flex align-items-center justify-content-center" style="z-index: 1000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.5)">
            <div class="alert alert-warning alert-dismissible fade show container" >
                {% for msg in errors %}
                    <p class="text-dark">{{ msg }} <a style="color: blue;" href="{{url_for('connexion')}}">Se connecter</a> | <a style="color: blue;" href="{{url_for('inscription')}}">Créer un compte?</a></p>
                {% endfor -%}
                <button id="btnClose" type="button" class="close cursorPointer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </section>
    {% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["errorAbonnement"]) %}
    {# background-color:rgba(0, 0, 0, 0.5) #}
    {% if errors %}
        <section id="section"  class="d-flex align-items-center justify-content-center" style="z-index: 1000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.5)">
            <div class="alert alert-warning alert-dismissible fade show container" >
                {% for msg in errors %}
                    <p class="text-dark font-weight-bold">{{ msg }} <a href="/tarif" style="color: blue;">Abonnez-vous!</a></p>
                {% endfor -%}
                <button id="btnClose" type="button" class="close cursorPointer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </section>
    {% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["msg"]) %}
    {# background-color:rgba(0, 0, 0, 0.5) #}
    {% if errors %}
        <section id="section"  class="d-flex align-items-center justify-content-center" style="z-index: 1000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.5)">
            <div class="alert alert-warning alert-dismissible fade show container" >
                {% for msg in errors %}
                    <p class="text-dark font-weight-bold">{{ msg }}</p>
                {% endfor -%}
                <button id="btnClose" type="button" class="close cursorPointer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </section>
    {% endif %}
{% endwith %}

  
<script>
    const btnClose = document.querySelector("#btnClose");
    const section = document.querySelector("#section")
    btnClose.addEventListener("click", function(){
        if(section.classList.contains('d-flex')){
            section.classList.remove('d-flex');
            section.classList.add('d-none')
        }else{
            section.classList.remove('d-none');
            section.classList.add('d-flex');
        }
    });
</script>


