<div class="row">
    <div class="col">
        <div class="product-grid row">

            <!-- Product -->
            {% for a in articles %}
                <div class="product-item men" id="{{a.id}}">
                    <div class="product discount product_filter">
                        <div class="product_image">
                            <a href="/details/{{a.id}}/me"><img src="{{a.img}}" alt=""></a>
                        </div>
                        <div class="product_info" >
                            <h6 class="product_name">
                                <span style="color: red;">
                                    {% for l in localites %}
                                        {% if l.id == a.localite_id %}
                                           {{l.libelle}}
                                        {% endif %}
                                    {% endfor %}
                                </span> | 
                                <a href="/details/{{a.id}}/me" class="product_name">{{a.titre}}</a>
                            </h6>
                            <div class="product_price">{{a.prix}} FCFA</div>
                            {# <div class="product_price">$520.00<span>$590.00</span></div> #}

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>