<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a href="#">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#">cad</a></li>
						<li><a href="#">aud</a></li>
						<li><a href="#">eur</a></li>
						<li><a href="#">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a href="#">
						Français
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#">Anglais</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a href="/compte">
						Mon compte
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="/connexion"><i class="fa fa-sign-in" aria-hidden="true"></i>Connexion</a></li>
						<li><a href="/inscription"><i class="fa fa-user-plus" aria-hidden="true"></i>Inscription</a></li>
					</ul>
				</li>
				<li class="menu_item"><a href="/">Home</a></li>
				<li class="menu_item"><a href="/boutique">Boutique</a></li>
				<li class="menu_item"><a href="/promotion">Promotion</a></li>
				<li class="menu_item"><a href="/apropos">A propos</a></li>
				<li class="menu_item"><a href="/tarif">Tarifs</a></li>
				<li class="menu_item"><a href="/contact">contact</a></li>
			</ul>
		</div>
	</div>